@model Dinner.Entities.Company.CompanySettingsModel
@{
    ViewBag.Title = "Настройки компании";
}

<div class="row content">
    <div class="col-md-12 col-lg-12 full-height">
        <div class="row header-title">
            <div class="col-md-12 col-lg-12 text-center">
                <h1>Настройки компании</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-1"></div>
            <div class="col-lg-4 col-md-4 col-xs-10">
                @using (Html.BeginForm("CompanySettings", "Account"))
                {
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        @Html.ValidationMessage("Exception")
                        @if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
                        {
                            <div class="alert alert-success alert-inline">
                                @ViewBag.StatusMessage
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.ShowMenuWithImages)
                        @Html.LabelFor(m => m.ShowMenuWithImages, "Показывать меню с картинками")
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.ShowMenuWithDescription)
                        @Html.LabelFor(m => m.ShowMenuWithDescription, "Показывать меню с описанием блюд")
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.ShowMenuWithWeight)
                        @Html.LabelFor(m => m.ShowMenuWithWeight, "Показывать меню с выходом блюд")
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Сохранить" class="btn btn-success btn-block" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}